{% extends "layout.html" %}

{% block title %}Application Error{% endblock %}

{% block content %}
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-indigo-600">
            {% if error_code %}{{ error_code }}{% else %}Error{% endif %}
        </h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">
            {% if error_name %}{{ error_name }}{% else %}Something went wrong.{% endif %}
        </p>
        <p class="mb-4 text-lg font-light text-gray-500">
            {{ error_message | default("We are sorry, but our hamsters seem to be on a break. We're working to get them back on their wheels. Please try again later.") }}
        </p>
        <a href="{{ url_for('index') }}" class="inline-flex text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">
            Back to Homepage
        </a>
    </div>   
</div>
{% endblock %}
